// @require './config'

$mobileSidebarWidth = $sidebarWidth * 0.82
// 移动端顶部滚动条模拟宽度
$mobileScrollHeight = 5px


// narrow desktop / iPad
@media (max-width: $MQNarrow)
  .sidebar
    font-size 15px
    width $mobileSidebarWidth
  .page
    padding-left $mobileSidebarWidth
  .password-shadow
    padding-left $mobileSidebarWidth  

// wide mobile
@media (max-width: $MQMobile)
  body {
    background-image: linear-gradient(to right top, #ffcc00 50%, #eee 50%);
    background-size: 100% calc(100% - 100vh + $mobileScrollHeight);
    background-repeat: no-repeat;
    &::after {
      content: '';
      position: fixed;
      top: $mobileScrollHeight;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      z-index: -1;
    }
  }
  .sidebar
    top 0
    padding-top $navbarHeight
    transform translateX(-100%)
    transition transform .2s ease
  .page
    padding-left 0
  .theme-container
    &.sidebar-open
      .sidebar
        transform translateX(0)
    &.no-navbar
      .sidebar
        padding-top: 0
  .password-shadow
    padding-left 0      

// narrow mobile
@media (max-width: $MQMobileNarrow)
  h1
    font-size 1.9rem
  .content__default
    div[class*="language-"]
      margin 0.85rem -1.5rem
      border-radius 0
